@mixin bg-imag($url,$alto:"35px",$ancho:"45px"){
	background-image: url("#{$url}");
	height:#{$alto};
	width:#{$ancho};
}
.setting-bg{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
*{
	font-family: 'Open Sans', sans-serif;
}
button{
	background-color: #E74C3C;
	border-radius: 3px;
	outline: 0;
	border: none;
	letter-spacing: 5px;
}
header{
	@include bg-imag("../img/banner.jpg","100vh","100%");
	@extend .setting-bg;
	color: white;
	display:flex;
	align-items: center;
	letter-spacing: 5px;	

	h1{
		font-size: 5rem;
		font-weight: 900;
		padding: 1rem 3rem;
		border-bottom: 1px solid white;
		border-top: 1px solid white;
		display: inline-block;
		letter-spacing: 10px;
		margin: 7rem 0 4rem 0;
	}
	
	button{
		background-color: #E74C3C;
		padding: 1.5rem 3rem;
		margin: 4rem 0 10rem 0;
	}
	div.container{
		margin-top: 7rem;		
	}
	i{
		margin-top:4rem; 
	}
}
section{
	color: white;}
h3{
	letter-spacing: 5px;
	font-weight: 900;
}
p{
	font-size: 1.8rem;
	line-height: 1.5;
}

footer{
	@include bg-imag("../img/banner.jpg","70vh","100%");
	@extend .setting-bg;
	color: white;
	button{
		width: 220px;
		display: block;
		padding: 7px 0;
		margin-top: 2rem;
		margin-left: 2rem;	
		&.transparent{
			background-color: transparent;
			border: 2px solid white;
		}
	}

}
.icon{
	display: inline-block;
	@extend .setting-bg;
}
.arrow{
	@include bg-imag("../img/icons/arrow.svg","15px","15px");
	
}
.hueso{
	@include bg-imag("../img/icons/bone.svg");
}
.collar{
	@include bg-imag("../img/icons/collar.svg");
}
.plato{
	@include bg-imag("../img/icons/pet-plate.svg");
}
.home{
	@include bg-imag("../img/icons/pet-house.svg","45px");
}
.bone-rotate{
	@include bg-imag("../img/icons/bone-rotate.svg","45px");
}
.dog{
	@include bg-imag("../img/icons/dog.svg","45px");
}
.track{
	@include bg-imag("../img/icons/track.svg","45px");
}
.track-two{
	@include bg-imag("../img/icons/track-two.svg","45px");
}
.pet{
	@include bg-imag("../img/icons/pet.svg","45px");
}
.bg-turqueza{
	background-color: #48C9B0;
}
.bg-gray{
	background-color: #273746;
}
.bg-purple{
	background-color: rgb(78, 81, 146);
}
.imagen{
	width: 100%;
	height: 300px;
}
.redes-sociales{
	position: absolute;
	bottom:0;
	left: 0;
	background-color: rgba(39, 55, 70, 0.7);
	height: 200px;
	width: 100%;
}
.mh-3{
	margin: 0 3rem;
}
.mv-7{
	margin: 7rem 0;
}
.mt-7{
	margin-top: 7rem;
}
.ph-10{
	padding: 0 10rem;
}
.mb-3{
	margin-bottom: 3rem;
}
.p-7{
	padding: 7rem;
}
.pl-0{
	padding-left: 0;
}
.pr-0{
	padding-right: 0;
}